<!DOCTYPE html>
<html>
<head>
    <title Аналитика розничных продаж></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        div.main {
            padding: 5px 50px 75px 50px;
        }

        span, img {
            vertical-align: middle;
        }

        .brand-logo > span, .brand-logo > img {
            vertical-align: middle;
        }


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body class="main">
<div>

    <div class="nav-wrapper">
        <h3><a class="brand-logo #ffffff-text text-lighten-4" href="#"><img alt="" src="/static/EZ.jpg"
                                                                            height="150" width="250"
                                                                            class="responsive-img"/>
            <span>Аналитика розничных продаж</span></a>
            </a></h3>
    </div>

    <h5>Выбор конкретной точки продаж</h5>
    <div class="row">
        <div class="col s3">
            <a href="http://localhost:5000/store/store1" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/1-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №1</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store4" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/4.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №4</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store7" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/7-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №7</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store10" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/10-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №10</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col s3">
            <a href="http://localhost:5000/store/store2" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/2-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №2</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store5" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/5-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №5</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store8" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/8-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №8</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store11" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/11-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №11</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col s3">
            <a href="http://localhost:5000/store/store3" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/3-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №3</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store6" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/6.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №6</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store9" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/9-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №9</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a href="http://localhost:5000/store/store12" style="color: #000000">
                <div class="card grey lighten-4">
                    <div class="card-content row valign-wrapper">
                        <div class="col s3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/12-c.png"/>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Store №12</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('.slider').slider({full_width: true});
        });
    </script>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>